@font-face {
  font-family: OpenSans;
  src: url(./assets/font/OpenSans-Regular.ttf);
}

:root {
  --bg-color: #d7ecf8;
  --title-color: #2cafa4;
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: OpenSans, sans-serif !important;
}
body {
  background-color: var(--bg-color);
}

/*custom primereact styles*/

.p-dropdown .p-dropdown-label.p-placeholder {
  color: white !important;
}
.p-dropdown .p-dropdown-trigger {
  width: 0 !important;
}
